<section class="category-main-chart-wrapper">
  <div class="category-chart-wrapper">
    <canvas id="category-chart-income" class="chart-node"></canvas>
  </div>
  <div class="category-chart-wrapper">
    <canvas id="category-chart-spending" class="chart-node"></canvas>
  </div>
</section>