<footer>
  <p><img src="/images/logo.svg" width="150px" class="footer-logo" alt="Wallet Mate" /></p>
  <p class="light"><%= Date.today.year%> &copy; All right reserved</p>
  <p><span class="social-media-links-wrppaer">
    <a href="" rel="external nofollow" class="social-media-link in" target="_blank">Instagram</a>
    <a href="" rel="external nofollow" class="social-media-link fb" target="_blank">Facebook</a>
    <a href="" rel="external nofollow" class="social-media-link tw" target="_blank">Twitter</a>
    <a href="" rel="external nofollow" class="social-media-link yt" target="_blank">YouTube</a>
  </span></p>
</footer>