<%provide(:current_page_title, "New static page - ")%>

<div id="app-manager">
  <h4>New Page:</h4>
  <%= link_to 'Back', statics_path, class: "manager-button" %>
</div>

<article class="single">
  <%= link_to "Close", statics_path, class: "emulate-close" %>  
  <h1 align="center">Create new static page</h1>
  <%= render 'form', static: @static %>
</article>