@charset "utf-8";
body[data-page="cabinet index"], 
body[data-page="people index"] {
  
}

.wallet-profile {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  margin-left: 10px;
}

.wallet-profile > img {
  float: left;
  margin-right: 5px;
}

.current-person-switcher-form {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  max-width: 200px;
  line-height: 50px;
  margin: 0 10px;
  border-left: 1px dotted #ddd;
  border-right: 1px dotted #ddd;
}

.current-person-switcher-form select {
  border: none;
  background-color: transparent;
  height: 50px;
  box-shadow: none;
  padding: 0 40px 0 20px !important;
  background-position: calc(100% - 10px) center;
}

section#personalities-section {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
}

.on-mount {
  display: block;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 15px 20px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  font-size: 18px;
  color: #555;
}

a.personality-creator {
  position: relative;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding: 90px 20px 10px;
  font-weight: bold;
  margin: 5px;
  color: #777;
  text-decoration: none;
  width: calc(100% / 4 - 10px);
  min-width: 200px;
  height: 150px;
  background: url(/i/personality.svg) no-repeat center 35px;
  background-size: 40px;
  border-radius: 2px;
  text-align: center;
  transition: all .2s linear;
  border: 2px dashed #aaa;
  opacity: .2;
}

a.personality-creator:hover {
  background-color: #fff;
  box-shadow: 0 10px 25px #00000020;
  border-color: transparent;
  transform: scale(102%);
  opacity: 1;
  z-index: 3;
}

.personalities-list {
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.personalities-list .personality-item {
  position: relative;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px;
  color: #333;
  width: calc(100% / 4 - 10px);
  min-width: 200px;
  height: 150px;
  text-align: left;
  background: #fff;
  border-radius: 2px;
  border-bottom: 3px solid #ddd;
  box-shadow: 0 2px 15px #00000015;
}

.personalities-list .personality-item:nth-child(even) {
}

.personalities-list .personality-item:last-of-type {
  margin-bottom: 30px;
}

.personalities-list .personality-item .name {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.personalities-list .personality-item .relation {
  font-size: 12px;
  color: #777;
}

.personalities-list .personality-item .relation:before {
  content: "(";
}

.personalities-list .personality-item .relation:after {
  content: ")";
}

.personalities-list .personality-item .description {
  margin: 10px 0 0;
  font-size: 18px;
  letter-spacing: .5px;
}

.personalities-list .personality-item .controls {
  float: right;
  margin: 4px -5px 0 0;
}

.personalities-list .personality-item .description:empty, 
.personalities-list .personality-item .relation:empty {
  display: none;
  visibility: hidden;
  margin: 0;
}

a.mini-button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 0;
  width: 22px;
  height: 22px;
  margin: 0;
  border-radius: 2px;
  filter: drop-shadow(0px 1px #fff) grayscale(1);
  opacity: .5;
}

a.mini-button:last-of-type {
  margin: 0;
}

a.mini-button:hover {
  filter: grayscale(0);
  opacity: 1;
}

a.mini-button.icon-show {
  background-image: url(/i/show.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

a.mini-button.icon-edit {
  background-image: url(/i/edit.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

a.mini-button.icon-delete {
  background-image: url(/i/delete.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

article.cabinet-main {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto 0;
}

article.cabinet-main > section {
  position: relative;
  padding: 0 0 30px;
  text-align: center;
}

article.cabinet-main > section .data-wrapper {
  text-align: left;
}

article.cabinet-main > section .data-wrapper:empty {
  text-align: center;
  margin: 50px 0;
}

article.cabinet-main > section .data-wrapper:empty:before {
  content: "Has no data to provide";
  font-size: 14px;
  color: #aaa;
}