article.cabinet-main > section#transactions {
  padding-bottom: 50px;
}

article.cabinet-main > section.category-transactions .data-wrapper,
article.cabinet-main > section#transactions .data-wrapper {
  text-align: left;
}

.transaction-item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: calc(100% / 3 - 20px);
  height: 100px;
  margin: 10px;
  padding: 15px 10px 30px;
  background: #fff;
  border-left: 3px solid var(--current-color);
  border-radius: 5px;
  box-shadow: 0 2px 10px #00000020;
  text-align: left;
  overflow: hidden;
}

.transaction-item[data-direction="spending"]:after, 
.transaction-item[data-direction="income"]:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  background: url(/i/direction.svg) no-repeat center center;
  background-size: contain;
  filter: grayscale(1);
  transform: scaleX(-1);
  opacity: .05;
  z-index: 0;
}

.transaction-item[data-direction="income"]:after {
  transform: scaleY(-1);
}

.transaction-item .transaction-category {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 15px 0 10px;
  font-size: 11px;
  background: var(--current-color);
  color: #fff;
  text-shadow: 0 1px 0 #00000050;
  border-radius: 0 10px 0 0;
}

.transaction-item .transaction-amount {
  font-size: 30px;
}

.transaction-item[data-direction="spending"] .transaction-amount:before {
  content: "-";
}
.transaction-item .transaction-description {
  position: absolute;
  display: block;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 14px;
  color: #555;
  margin: 0;
  height: 0;
  width: 100%;
  padding: 0 80px 0 20px;
  opacity: 0;
  overflow: hidden;
  z-index: 2;
  transition: all .2s linear;
}

.transaction-item:hover .transaction-description:not(:empty) {
  overflow: visible;
  font-size: 15px;
  color: #333;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px 80px 10px 20px;
  background: #ffffff95;
  backdrop-filter: blur(25px);
  opacity: 1;
}

.transaction-item .transaction-title {
  display: block;
  font-weight: bold;
  margin: 3px 0 0;
  font-size: 20px;
}

.transaction-item[data-important="true"] .transaction-title:before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  background: url(/i/alert.svg) no-repeat center center;
  background-size: contain;
}

.transaction-item .controls {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  transition: all .2s linear;
}

.transaction-item:hover .controls {
  opacity: 1;
  z-index: 10;
}

.transaction-created {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
  color: #777;
}
article.cabinet-main > section.category-transactions {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 260px);
}

.view-modifier-wrapper {
  display: block;
  margin: 30px auto;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  text-align: left;
}

a.view-modifier {
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  background: #fff;
  background: linear-gradient(to top, #eee, #fff);
  font-size: 12px;
  font-weight: bold;
  color: #333;
  border: 1px solid #aaa;
  text-shadow: 0 1px 0 #fff;
}

a.view-modifier:hover {
  background: linear-gradient(to bottom, #eee, #fff);
}

a.view-modifier+a.view-modifier {
  border-left: none;
  border-right: none;
}

a.view-modifier:first-of-type {
  border-radius: 2px 0 0 2px;
  margin-left: 10px;
}

a.view-modifier:last-of-type {
  border-radius: 0 2px 2px 0;
  border: 1px solid #aaa !important;
}

form.date-picking {
  width: 100%;
  clear: both;
  display: block;
  font-size: 12px;
}

form.date-picking label {
  margin-bottom: 0;
  margin-right: 5px;
  line-height: 40px;
  height: 40px;
}

form.date-picking button,
form.date-picking .button {
  float: right;
  margin-left: 5px;
  border: 2px solid #ccc;
}

form.date-picking button.ruby-button {
  border: 2px solid var(--ruby);
}

canvas.chart-node {
  margin: 20px 0;
}

.transaction-creator {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold;
  background-size: 40px;
  padding: 0;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  width: calc(100% / 3 - 20px);
  min-width: 200px;
  margin: 10px;
  height: 100px;
  border: 2px dashed #777;
  opacity: .2;
  transition: .2s linear;
}

.transaction-creator:hover {
  background-color: #efefef;
  box-shadow: 0 10px 25px #00000020;
  border-color: #efefef;
  transform: scale(102%);
  opacity: 1;
  z-index: 3;
}

.transaction-creator a {
  box-sizing: border-box;
  display: block;
  height: 48px;
  color: #777;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}
.transaction-creator a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
  width: 20px;
  height: 20px;
  background: url(/i/direction.svg) no-repeat center center;
  background-size: 80%;
  filter: grayscale(1) brightness(1.1);
  transform: scaleX(-1);
}

.transaction-creator a.new-income:after {
  transform: scaleY(-1);
}

.transaction-creator:hover a {
  color: #aaa;
}

.transaction-creator a span {
  color: #f00;
}

.transaction-creator a+a span {
  color: #41cb19;
}

.transaction-creator a:hover {
  color: #333;
  background: #fff;
}