<%provide(:current_page_title, "Create new category - ")%>
<section class="page-form-wrapper">
  <%= link_to "Close", user_root_path, class: "emulate-close" %>
  <h1>Create new category</h1>
  <%= render 'create_form' %>
  <div class="form-links-wrapper">
    <%= link_to 'Back', user_root_path, class: "link-to-back" %>
  </div>
</section>