<section id="transactions">
  <h2>Transactions</h2>
  <%= render :partial => "shared/view_modifier", :locals => { path: cabinet_path } %>
  <div class="data-wrapper">
    <span class="transaction-creator font-slab">
      <%= link_to 'Declarate income transaction', new_transactions_path({person_id: current_user.current_person, direction: true}), class: "new-income" %>
      <%= link_to 'Declarate spending transaction', new_transactions_path({person_id: current_user.current_person, direction: false}), class: "new-spending" %>
    </span><%= render @transactions %>
  </div>
</section>